* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table thead th {
  border: none;
}

.blue-table {
  color: #fff;
  background: #380ed1;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.grey-table {
  color: #fff;
  background: #4e4e4e;
}
.light-grey-table {
  background: #c7c7c7;
}
.pointer {
  cursor: pointer;
}
